# Ignore everything
*

# Keep these specific files/folders
!.gitignore
!LICENSE.txt

# Allow configs
!src/
!src/main/
!src/main/resources/
!src/main/resources/*.yml

# Allow docs
!README.md
!docs/*.md